@page
@model Bakdelar.Pages.Admin.Product.DeleteModel
@{
    Layout = "Admin_Layout";
}



<h3>Är du säker på att du vill ta bort produkten?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.ProductName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.ProductName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.ProductDescription)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.ProductDescription)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.ProductPrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.ProductPrice)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.SpecialPrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.SpecialPrice)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.ProductWeight)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.ProductWeight)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.AvailableQuantity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.AvailableQuantity)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.CategoryId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.CategoryId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.DateEntered)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.DateEntered)
        </dd>
    </dl>

    <form method="post">
        <input type="hidden" asp-for="Product.ProductId" />
        <input type="submit" value="Ta bort" class="btn btn-danger" /> |
        <a asp-page="./Index">Tillbaka</a>
    </form>
</div>


