@inject Microsoft.AspNetCore.Http.IHttpContextAccessor httpContextAccessor;
@using Microsoft.AspNetCore.Http;
@using Bakdelar.Classes;
@using Bakdelar.MethodClasses;
@using System.Text.Json;
@using System.Text.Json.Serialization;
@{
    var shoppingBasket = httpContextAccessor.HttpContext.Session.GetBasket();
}
<script>

</script>
<div class="btn-group dropleft keep-open" id="keep-open">

    <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="material-icons" id="dropdown_basket">
            shopping_basket
        </span>
        <div id="item-count-basket">
            @{
                if (shoppingBasket == null || !shoppingBasket.Any())
                {
                    @Html.Raw("0");
                }
                else
                {
                    @Html.Raw($"{shoppingBasket.Sum(item => item.ItemCount)}");
                    @*@Html.Raw($"{shoppingBasket.Count}");*@
                }

            }
        </div>
    </button>

    <div class="dropdown-menu noselect px-1" id="dropleft-basket">
        <a class="dropdown-item" href="@Url.Content("~/ShoppingBasket")"><h6 class="dropdown-header">Till varukorg</h6></a>
        <div class="dropdown-divider"></div>
        <div class="inner-basket">
            @{
                if (shoppingBasket == null || !shoppingBasket.Any())
                {
                    <a class="dropdown-item" href="#">Tomt!</a>
                }
                else
                {

                    decimal totalPrice = 0;
                    foreach (var item in shoppingBasket)
                    {
                        <div class="d-none" id="hidden-popover-dropdown-@item.ID">
                            <div class="hidden-popover-menu">
                                <p>Är du säkert?</p>
                                <a href='javascript:void(1)' class="popover-dropdown-yes-link" onclick='removeItemDropdown(@item.ID)'>Ja</a>
                                <a href='javascript:void(0)' class="popover-dropdown-no-link" onclick='closePopover_Dropdown(@item.ID)'>Nej</a>
                            </div>
                        </div>
                        totalPrice += item.Price * item.ItemCount;
                        decimal priceForItems = item.Price * item.ItemCount;
                        //decimal priceForItems = item.Price * item.ItemCount;
                        <div class="dropdown-item px-1 d-inline-flex">

                            <div class="flex-row">
                                <a href="@Url.Content($"~/SingleProductView/{item.ID}")">
                                    <div class="media">
                                        <img class="mr-3 align-self-center" src="@item.ImageLink" style="width: 30px; height:30px;" />
                                        <div class="media-body">
                                            <h6 class="">
                                                @item.ProductName x @item.ItemCount
                                            </h6>
                                        </div>
                                    </div>
                                </a>



                                <div class="m-0 pl-5 d-inline-flex align-content-center text-center">
                                    <span class="material-icons text-danger">
                                        remove
                                    </span>
                                    <h6 class="font-weight-bold item-count-shoppingbasket">@item.ItemCount</h6>
                                    <span class="material-icons text-success">
                                        add
                                    </span>
                                </div>

                                <div class="pl-5">
                                    á pris @item.Price
                                </div>
                                <div class="pl-5">
                                    totalt @priceForItems
                                </div>
                                @*<div class="col-4 d-inline-block border-left px-1 border-dark">
                                        <span class="">Totalt: @priceForItems kr</span>
                                    </div>*@

                            </div>
                            <div class="d-flex w-100">
                                <div class="flex-column align-self-center text-right ml-5 w-100">

                                    <span onclick="openPopover_Dropdown(@item.ID);" class="material-icons text-danger button-remove-item-dropdown" data-trigger="focus" tabindex="-1" data-toggle="popover-remove-item-dropdown-@item.ID">not_interested</span>
                                </div>
                            </div>
                        </div>

                        @if (shoppingBasket.LastOrDefault() != item)
                        {

                            <div class="dropdown-divider"></div>
                        }

                        @*<div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="Checkout">Till kassan</a>*@

                    }

                    <div class="dropdown-divider"></div>
                    <h6 class="dropdown-header text-center">Totalt: @totalPrice kr</h6>
                }
            }
        </div>



    </div>
</div>
