@inject Microsoft.AspNetCore.Http.IHttpContextAccessor httpContextAccessor;
@using Microsoft.AspNetCore.Http;
@using Bakdelar.Classes;
@using System.Text.Json;
@using System.Text.Json.Serialization;

@{
    var options = new JsonSerializerOptions
    {
        DictionaryKeyPolicy = JsonNamingPolicy.CamelCase,
        PropertyNamingPolicy = JsonNamingPolicy.CamelCase
    };
    var serializedBasket = httpContextAccessor.HttpContext.Session.GetString("shopping_basket");
    if (serializedBasket == null || serializedBasket == string.Empty)
    {
        <a class="dropdown-item" href="#">Tomt!</a>
    }
    else
    {

        var shoppingBasket = JsonSerializer.Deserialize<List<ShoppingBasketItem>>(serializedBasket, options);

        if (shoppingBasket == null || !shoppingBasket.Any())
        {
            <a class="dropdown-item" href="#">Tomt!</a>
        }
        else
        {
            decimal totalPrice = 0;
            foreach (var item in shoppingBasket)
            {




                totalPrice += item.Price * item.ItemCount;
                decimal priceForItems = item.Price * item.ItemCount;
                if (!item.Discount)
                {
                    <a class="dropdown-item" href="/Product?id=@item.ID">@item.ProductName x @item.ItemCount | Pris st @item.Price | total @priceForItems</a>
                }
                else
                {
                    <a class="dropdown-item text-warning" href="/Product?id=@item.ID">@item.ProductName x @item.ItemCount | Pris st @item.Price | total @priceForItems</a>
                }
            }
        

        <div class="dropdown-divider"></div>
        <h6 class="dropdown-header">Total: @totalPrice kr</h6>
        }
    }
}