@using Bakdelar.Classes;
@model ShoppingBasketItem

@{
    decimal priceForItems = Model.Price * Model.ItemCount;
}
<a href="@Url.Content($"~/SingleProductView/{Model.ID}")">
    <div class="media">
        <img class="mr-3 align-self-center" src="@Model.ImageLink" style="width: 30px; height:30px;" />
        <div class="media-body">
            <h6 class="">
                @Model.ProductName x @Model.ItemCount
            </h6>
        </div>
    </div>
</a>



<div class="m-0 pl-5 d-inline-flex align-content-center text-center">
    <span class="material-icons text-danger" tabindex="-1" onclick="reduceByOne(@Model.ID)">
        remove
    </span>
    <h6 class="font-weight-bold item-count-id-@Model.ID">@Model.ItemCount</h6>
    <span class="material-icons text-success" tabindex="-1" onclick="increaseByOne(@Model.ID)">
        add
    </span>
</div>

<div class="pl-5">
    á pris @Model.Price
</div>
<div class="pl-5">

    totalt @priceForItems
</div>
@*<div class="col-4 d-inline-block border-left px-1 border-dark">
        <span class="">Totalt: @priceForItems kr</span>
    </div>*@

