@page "{ID:int}"
@model Bakdelar.Pages.OrderConfirmationModel

@{
    <div class="row shopping-basket-table">
        <div class="flex-column w-100">
            <div class="justify-content-center w-75 mx-auto">
                @if (Model.Order != null && Model.Order.OrderItems != null && Model.Order.OrderItems.Any())
                {
                    decimal totalPrice = Model.Order.OrderCost;

                    <h2>Tack för din beställning!</h2>
                    <h6>En bekräftelse på köpet skickas till din E-post</h6>
                    <br />

                    <table class="table m-0 border  border-dark">

                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">
                                    Bild
                                </th>
                                <th scope="col">
                                    Produkt
                                </th>
                                <th scope="col">
                                    Antal

                                    @*<th>
                                            @Html.DisplayNameFor(model => model.ShoppingBasket.FirstOrDefault().Discount)
                                        </th>*@
                                <th scope="col">
                                    Styckpris
                                </th>
                                <th scope="col">
                                    Pris
                                </th>
                                <th scope="col">

                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Order.OrderItems)
                            {
                                <tr>
                                    <td>
                                        <img src="@Model.ProductImages[item.ProductID]" style="height: 50px; height: 50px;" />
                                    </td>
                                    <td>
                                        @item.ProductName
                                    </td>


                                    <td>
                                        @item.AmountOrdered
                                    </td>
                                    @*<td>
                                            @Html.DisplayFor(modelItem => item.Discount)
                                        </td>*@
                                    <td>

                                        @item.ProductPricePaidEach kr
                                    </td>
                                    <td>
                                        @item.ProductPricePaidTotal
                                    </td>
                                    <td>
                                    </td>


                                </tr>
                            }
                        </tbody>
                    </table>

                    <div class="row d-flex justify-content-end">

                        <div class="col-6"></div>

                        <div class="col-6 d-flex justify-content-end pr-5">
                            <table class="mt-3">
                                <tbody class=" align-text-top">
                                    <tr>
                                        <td class="font-weight-bold pr-4">Betalt</td>
                                        <td>@Model.Order.OrderCost kr</td>
                                    </tr>

                                    <tr>
                                        <td class="font-weight-bold pr-4">Varav frakt</td>
                                        @if (Model.Order.ShippingPaid)
                                        {
                                            <td>@Model.Order.ShippingFee kr</td>
                                        }
                                        else
                                        {
                                            <td>Gratis frakt</td>
                                        }
                                    </tr>

                                    <tr><td><br /></td><td><br /></td></tr>

                                    <tr>
                                        <td class="font-weight-bold">Skickas till</td>
                                        <td>@Model.Order.CustomerFirstName @Model.Order.CustomerLastName</td>
                                    </tr>

                                    <tr>
                                        <td class="font-weight-bold"></td>
                                        <td> @Model.Order.CustomerAddress</td>
                                    </tr>

                                    <tr>
                                        <td class="font-weight-bold"></td>
                                        <td>@Model.Order.CustomerZipCode @Model.Order.CustomerCity</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                }
                else
                {
                    <h1 class="text-center">Ingen order med ID @Model.ID hittad!</h1>
                }
            </div>


        </div>
    </div>





}
