@page "{ID:int}"
@model Bakdelar.Pages.OrderConfirmationModel

@{
    <div class="row shopping-basket-table">
        <div class="flex-column w-100">
            <div class="justify-content-center w-75 mx-auto">
                @if (Model.Order != null && Model.Order.OrderItems != null && Model.Order.OrderItems.Any())
                {
                    decimal totalPrice = Model.Order.OrderCost;



                    <table class="table m-0 border  border-dark">

                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">
                                    Bild
                                </th>
                                <th scope="col">
                                    Produkt
                                </th>
                                <th scope="col">
                                    Antal

                                    @*<th>
                                @Html.DisplayNameFor(model => model.ShoppingBasket.FirstOrDefault().Discount)
                            </th>*@
                                <th scope="col">
                                    Styckpris
                                </th>
                                <th scope="col">
                                    Pris
                                </th>
                                <th scope="col">

                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Order.OrderItems)
                            {
                                <tr>
                                    <td>
                                        <img src="@Model.ProductImages[item.ProductID]" style="height: 40px; width: 40px;" />
                                    </td>
                                    <td>
                                        @item.ProductName
                                    </td>


                                    <td>
                                        @item.AmountOrdered
                                    </td>
                                    @*<td>
                                @Html.DisplayFor(modelItem => item.Discount)
                            </td>*@
                                    <td>

                                        @item.ProductPricePaidEach kr
                                    </td>
                                    <td>
                                        @item.ProductPricePaidTotal
                                    </td>
                                    <td>
                                    </td>


                                </tr>
                            }
                        </tbody>
                    </table>
                    <div class="">Betalt: @Model.Order.OrderCost</div>
                    @if (Model.Order.ShippingPaid)
                    {

                        <div class="">Varav frakt @Model.Order.ShippingFee</div>
                    }
                    else
                    {

                        <div class="">Ingen frakt betalad</div>
                    }

                    <div class="font-weight-bold">Beställt av:</div>
                    <div class="">@Model.Order.CustomerFirstName @Model.Order.CustomerLastName</div>
                    <div class="font-weight-bold">Beställt till:</div>
                    bool coAddressFilled = !string.IsNullOrWhiteSpace(Model.Order.CustomerCOAddress);
                    if (coAddressFilled)
                    {
                        <div class="">(C/O) @Model.Order.CustomerCOAddress</div>
                    }
                    <div class="">@Model.Order.CustomerAddress @Model.Order.CustomerCity @Model.Order.CustomerZipCode</div>

                }
                else
                {
                    <h1 class="text-center">Ingen order med ID @Model.ID hittad!</h1>
                }
            </div>


        </div>
    </div>





}
