@page
@model Bakdelar.Pages.RecipesModel
@{
    ViewData["Title"] = "Recept";
}

<div class="col-10 mt-5 ml-5">
    <p>
        Vi vill med den här sidan visa möjligheten att starta ett samarbete med en receptsite (t.ex. Köket.se)
        och visa deras recept via ett API som de gör tillgängligt.
    </p>
    <h1>Hitta recept från EDAMAM.com</h1>
    <p>
        Vill du få inspiration till ditt nästa bakverk? Skriv in en ingrediensen du har hemma eller varför inte
        det du precis beställt från oss och låt dig inspireras.
    </p>
    <p>Obs! Amerikanska recept, sök på engelska.</p>

    <form class="form-inline my-2 my-lg-0 d-inline-flex" method="post">
        <input asp-for="@Model.SearchString" class="form-control mr-sm-2" type="search" placeholder="Sök...">
        <span class="input-group-btn">
            <button class="btn" type="submit">
                <i class="material-icons">
                    search
                </i>
            </button>
        </span>
    </form>
</div>


<div class="col mx-5">
    @if (Model.Recipe != null)
    {
        if (Model.Recipe.hits.Length > 0)
        {
            <br />
            <br />
            <div class="col-8 text-left pl-0">
                <h6>Klicka på recepttiteln för att komma till det fullständiga receptet, du lämnar då Bakdelar.se (sidan öppnas i en ny flik).</h6>
                <a target="_blank" href="https://www.matskafferiet.se/mattomvandling/" class="text-info">
                Klicka här för att få hjälp med måttomvandling (sidan öppnas i ny flik)
                </a>
            </div>

            for (int i = 0; i < Model.Recipe.hits.Length; i++)
            {
                <div class="row pt-3">
                    <div class="col-3">
                        <img class="img-responsive d-block" style="height: 15vw;" src="@Model.Recipe.hits[i].recipe.image" />
                    </div>
                    <div class="col-6 align-text-top">
                        <a class="nav-link active text-info pt-0" target="_blank" href="@Model.Recipe.hits[i].recipe.url">@Model.Recipe.hits[i].recipe.label</a>

                        <p class="mx-3">
                            @foreach (var ingredient in @Model.Recipe.hits[i].recipe.ingredientLines)
                            {
                                @ingredient.ToString()
                                <br />
                            }
                        </p>
                    </div>
                </div>
            }
        }
        else
        {
            <p class="pt-5">Hittade inget recept med "@Model.SearchString".</p>
        }
    }
</div>




