@page "{Id:int}"
@model Bakdelar.Pages.Shared.SingleProductViewModel
@{
    ViewData["Title"] = Model.Product.ProductName;
}

<style>
    img {
        max-width: 300px;
        max-height: 200px;
    }
</style>

@if (Model.Error)
{
    <div class="bg-warning">Error! Invalid product id</div>
}
else
{

    @*<img src="@Model.Product.ProductImage.ImageUrl" />*@

    <div id="@Model.Product.ProductId" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            @for (int i = 0; i < Model.Product.ProductImageView.Count; i++)
            {
                <div class="carousel-item @(i == 0 ? "active" : "")">
                    <img class="d-block w-100 card-img-top" style="height: 10vw;" src="@Model.Product.ProductImageView[i].ImageURL" />
                </div>
            }

        </div>
    </div>

    <h1>Vara: @Model.Product.ProductName</h1>
    <h2>@Model.Product.ProductDescription</h2>
    <h3>Pris: @Model.Product.SpecialPrice</h3>
}