@page "{Id:int}"
@model Bakdelar.Pages.Shared.SingleProductViewModel
@{
    ViewData["Title"] = Model.Product.ProductName;
}
<script>



</script>
<style>
    img {
        width: 300px;
        /*max-height: 200px;*/
    }
</style>

@if (Model.Error)
{
    <div class="bg-warning">Ogiltigt produktID</div>
}
else
{
    <div class="d-flex justify-content-center">
        <div class="">
            <div id="@Model.Product.ProductId" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    @for (int i = 0; i < Model.Product.ProductImageView.Count; i++)
                    {
                        <div class="carousel-item @(i == 0 ? "active" : "")">
                            <img class="img-responsive d-block " @*style="height: 10vw;"*@ src="@Model.Product.ProductImageView[i].ImageURL" />
                        </div>
                    }
                </div>
            </div>
        </div>

        <div class="ml-5">
            <h3>@Model.Product.ProductName</h3>
            <p>@Model.Product.ProductDescription</p>
            @if (@Model.Product.SpecialPrice != null)
            {
                <p> <del>@Model.Product.ProductPrice kr</del></p>
                <p class="card-text text-danger">Rea @Model.Product.SpecialPrice kr</p>
            }
            else
            {
                <p class="card-text">@Model.Product.ProductPrice kr</p>
            }

            @{
                int inStock = Model.Product.AvailableQuantity.Value - Model.Product.NumberOfSold;
                if (inStock < 1)
                {
                    <p class="text-danger">Inte i lager</p>
                }
                else if (inStock < 5)
                {
                    <p class="text-warning">Antal i lager: @inStock st</p>
                }
                else
                {
                    <p class="text-success">Antal i lager: @inStock st</p>
                }
            }

            <form id="buyForm">
                <input type="hidden" value="@Model.Product.ProductId" asp-for="ShoppingItem.ID" />
                <input type="hidden" value="@Model.Product.ProductName" asp-for="ShoppingItem.ProductName" />
                <input type="hidden" value="@Model.Product.AvailableQuantity" asp-for="ShoppingItem.StockLevel" />
                <input type="hidden" value="@Model.Product.ProductImageView[0].ImageURL" asp-for="ShoppingItem.ImageLink" />
                @if (Model.Product.SpecialPrice != null)
                {
                    <input type="hidden" value="@Model.Product.SpecialPrice" asp-for="ShoppingItem.Price" />
                    <input type="hidden" value="true" asp-for="ShoppingItem.Discount" />
                }
                else
                {
                    <input type="hidden" value="@Model.Product.ProductPrice" asp-for="ShoppingItem.Price" />
                    <input type="hidden" value="false" asp-for="ShoppingItem.Discount" />
                }
                @{

                    if (inStock >= 1)
                    {
                        <input type="number" step="1" value="1" asp-for="ShoppingItem.ItemCount" min="1" max="@Model.Product.AvailableQuantity" />
                        <span class="input-group-btn">
                            <button class="btn text-success btn-dark" id="buy" type="button" onclick="updateBasket()">
                                <span class="material-icons">
                                    add_shopping_cart
                                </span>
                            </button>
                        </span>
                    }
                }

            </form>
        </div>
    </div>
}
